body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    color: #fffaff;
}

/*------------------------*/
/*--------NavBar---------*/
/*----------------------*/
nav{
    height: 70px;
    background-color: #271f44;
    position: relative;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4vw;
    position: absolute;
    width: 100%;
    top: 15px;
}

.nav-btn{
    width: 80px;
    height: auto;
}
.nav-btn:hover{
    width: 100px;
    height: auto;
}

/*--------------------------*/
/*--------Sections---------*/
/*------------------------*/

section{
    width: 100%;
    height: 100vh;
    padding: 10px 0 0 0;
}
.content-title{
    height: 15vh;
}
.content-desc{
    height: 10vh;
    background-color: #9f516f;
    font-size: 18px;
    display: grid;
    place-items: center;
}
.content-desc-border{
    background-color: #ae96c7;
    height: 100%;
    display: grid;
    place-items: center;
    width: 80%;
}
.desc2{
    background-color: #783954;
}
.content-desc-border-2{
    background-color: #a05170;
    height: 100%;
    display: grid;
    place-items: center;
    width: 80%;
    border-radius: 10vh 0 10vh 0;
}
.p-subtitle{
    margin: 0 15px 0 15px;
}
.content-info{
    height: 75vh;
    background-color: #271f44;
    display: grid;
    place-items: center;
}
.content-title-img{
    height: 100%;
}

/*-------------------------*/
/*--------Portada---------*/
/*-----------------------*/
#portada{
    height: 90vh;
    background-color: #896ab0;
}
#banner{
    width: 100%;
    height: auto;
    margin-top: 25px;
}
#portada-txt{
    background-color: #271f44;
    padding: 20px;
    margin: 25px 5vw 10px 5vw;
    border-radius: 10px;
    font-size: 20px;
    
}
@media screen and (max-width: 350px) {
    #portada-txt{
        font-size: 16px;
    }
  }
#portada-title{
    margin-top: -50px;
}
#portada-txt-border{
    border-style: solid;
    border-radius: 10px;
    border-color: #783e57;
    margin: 5px 10vw 5px 10vw;
}


/*--------------------*/
/*------ Mapa -------*/
/*------------------*/
#territorio{
    background-color: #896ab0;
}
#mapa{
    width: 90%;
    height: 70vh;
}

/*----------------------*/
/*------ Tiempo -------*/
/*--------------------*/
#tiempo{
    background-color: #271f44;
}
.time{
    display: grid;
    grid-auto-flow: column;
    gap: 20px; /* Exact 20px gap */
    align-items: center;
    justify-content: start; /* Or center, depending on preference */
    max-width: fit-content; /* Prevents items from stretching out too far */
    margin: auto; /* Centers the container */
    overflow-x: auto;
}
.line {
    stroke: black;
    stroke-width: 1px;
}
.time-card{
    background-color: #a996c5;
    height: 300px;
    width: 150px;
    border-radius: 20px;
}
.time-card:hover{
    cursor: pointer;
    height: 310px;
    width: 155px; 
}
.time-year{
    margin: 0;
    font-size: 50px;
    color: #a996c5;
}

/*----------------------*/
/*------ Footer -------*/
/*--------------------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Keeps it on top of other elements */
    display: none;
}

/* Centered popup box */
.popup{
    position: relative;
    background: #271f44;
    border-radius: 10px 0 0 10px;
    text-align: center;
    max-width: 800px;
    width: 80%;
    height: 60vh;
    display: grid;
    grid-template-columns: 4fr 3fr; 
}
#popup-content{

}
#popup-img{
    background-color:#a996c5;
}

#popup-close{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #783e57;
    color: #fffaff;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
}

/*----------------------*/
/*------ Footer -------*/
/*--------------------*/
footer{
    padding: 15px;
    background-color: #896ab0;
}