body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    color: #fffaff;
}
nav{
    height: 70px;
    background-color: #271f44;
    position: relative;
}
.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4vw;
    position: absolute;
    width: 100%;
    /* Position to overlap the nav */
    top: 15px;
}

.nav-btn{
    width: 80px;
    height: auto;
}
section{
    width: 100%;
    height: 100vh;
    padding: 10px 0 0 0;
}
.content-title{
    height: 15vh;
}
.content-desc{
    height: 10vh;
    background-color: #9f516f;
    font-size: 18px;
    display: grid;
    place-items: center;
}
.content-desc-border{
    background-color: #ae96c7;
    height: 100%;
    display: grid;
    place-items: center;
    width: 80%;
}
.desc2{
    background-color: #783954;
}
.content-desc-border-2{
    background-color: #a05170;
    height: 100%;
    display: grid;
    place-items: center;
    width: 80%;
    border-radius: 10vh 0 10vh 0;
}
.p-subtitle{
    margin: 0 15px 0 15px;
}
.content-info{
    height: 75vh;
    background-color: #271f44;
    display: grid;
    place-items: center;
}
.time{
    display: grid;
    grid-auto-flow: column;
    gap: 20px; /* Exact 20px gap */
    align-items: center;
    justify-content: start; /* Or center, depending on preference */
    max-width: fit-content; /* Prevents items from stretching out too far */
    margin: auto; /* Centers the container */
}
.map{

}

.content-title-img{
    height: 100%;
}

/*---------------------*/
/*------Portada-------*/
/*-------------------*/
#portada{
    height: 90vh;
    background-color: #896ab0;
}
#banner{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
#portada-txt{
    background-color: #271f44;
    padding: 20px;
    margin: 50px 15vw 20px 15vw;
    border-radius: 10px;
    font-size: 20px;
}
@media screen and (max-width: 350px) {
    #portada-txt{
        font-size: 16px;
    }
  }
#portada-title{
    margin-top: -50px;
}


/*--------------------*/
/*------ Mapa -------*/
/*------------------*/
#territorio{
    background-color: #896ab0;
}
#mapa{
    width: 90%;
    height: 70vh;
}

/*----------------------*/
/*------ Tiempo -------*/
/*--------------------*/
#tiempo{
    background-color: #271f44;
}
svg {
    width: 99%;
    height: 75vh;
}

.year-group {
    font-family: sans-serif;
}
.year-label {
    font-size: 10px; /* Smaller font size for the years */
    text-anchor: middle;
}
.work-square {
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}
.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    background: lightgray;
    border: 1px solid #000;
    border-radius: 4px;
    pointer-events: none;
    visibility: hidden;
}
.line {
    stroke: black;
    stroke-width: 1px;
}
.time-card{
    background-color: #a996c5;
    height: 300px;
    width: 150px;
    border-radius: 20px;
}
.time-year{
    margin: 0;
    font-size: 50px;
    color: #a996c5;
}

/*----------------------*/
/*------ Footer -------*/
/*--------------------*/
footer{
    padding: 15px;
    background-color: #896ab0;
}