body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    color: #fffaff;
    font-family: 'Quicksand', serif;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Quicksand';
    src: url("./assets/Fonts/Quicksand (Textos)/Quicksand-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Uravika';
    src: url("./assets/Fonts/Uravika (Titulos)/Uravika Classy.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
p{
    font-family: 'Quicksand', serif;
}
h1{
    font-family: 'Uravika', serif;
}
h2{
    font-family: 'Uravika', serif;
}
h3{
    font-family: 'Uravika', serif;
}


/*------------------------*/
/*--------NavBar---------*/
/*----------------------*/
nav{
    height: 70px;
    background-color: #271f44;
    position: relative;
    z-index: 10;
}
#nav2{
    background-color: #773a54;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4vw;
    position: absolute;
    width: 100%;
    top: 15px;
}

.nav-btn{
    width: 80px;
    height: auto;
}
.nav-btn:hover{
    width: 100px;
    height: auto;
}

/*--------------------------*/
/*--------Sections---------*/
/*------------------------*/

section{
    width: 100%;
    height: 100vh;
    padding: 10px 0 0 0;
}
.content-title{
    height: 15vh;
}
.content-desc{
    height: 10vh;
    background-color: #9f516f;
    font-size: 18px;
    display: grid;
    place-items: center;
    font-size: 16px;
}
.content-desc-border{
    background-color: #ae96c7;
    height: 100%;
    display: grid;
    place-items: center;
    width: 80%;
}
.desc2{
    background-color: #783954;
}
.content-desc-border-2{
    background-color: #a05170;
    height: 100%;
    display: grid;
    place-items: center;
    width: 80%;
    border-radius: 10vh 0 10vh 0;
}
.p-subtitle{
    margin: 0 15px 0 15px;
}
.content-info{
    height: 75vh;
    background-color: #271f44;
    display: grid;
    place-items: center;
}
.content-title-img{
    height: 100%;
}

/*-------------------------*/
/*--------Portada---------*/
/*-----------------------*/
#portada{
    height: 90vh;
    background-color: #896ab0;
}
#banner{
    width: 100%;
    height: auto;
    margin-top: 25px;
}
#portada-info{
    background-color: #271f44;
    padding: 25px;
    margin: 30px 15vw 10px 15vw;
    border-radius: 10px;
    font-size: 18px;
    border-style: solid;
    border-color: #783e57;
    border-width: 1px;
}
#portada-txt{
    margin: -30px 0 0 0;
}
#portada-img{
    height: 6vw;
    width: auto;
}
@media screen and (max-width: 350px) {
    #portada-txt{
        font-size: 16px;
    }
}
#portada-title{
    font-size: 38px;
    margin-top: -45px;
    font-weight: lighter;
}


/*--------------------*/
/*------ Mapa -------*/
/*------------------*/
#territorio{
    background-color: #896ab0;
}
#mapa{
    width: 90%;
    height: 70vh;
}
.map{
    background-image: url("./assets/BASE-MAPA-WEB-VOCES-DE-MUJ-ESCENA.jpg");
    background-size: 100% 100%;
}

/*----------------------*/
/*------ Tiempo -------*/
/*--------------------*/
#tiempo{
    background-color: #271f44;
    position: relative;
}
.time{
    display: grid;
    grid-auto-flow: column;
    gap: 20px; /* Exact 20px gap */
    align-items: center;
    justify-content: start; /* Or center, depending on preference */
    max-width: fit-content; /* Prevents items from stretching out too far */
    margin: auto; /* Centers the container */
    overflow-x: auto;
    overflow-y: hidden;
}
.line {
    stroke: black;
    stroke-width: 1px;
}
.time-container{
    position: relative;
    display: inline-block;
    margin-top: -4vh;
}
.time-card{
    background-color: #a996c5;
    height: 300px;
    width: 150px;
    border-radius: 12px;
}
.time-icon{
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: -9vh;
    left: 50%;
    transform: translateX(-50%);
}
.time-card:hover{
    cursor: pointer;
    height: 310px;
    width: 155px; 
}
.time-year{
    margin: 0 0 -20px 0;
    font-size: 60px;
    color: #a996c5;
}
hr{
    position: absolute;
    margin: 0;
    width: 98vw;
    bottom: 9vh;
    border-color: #a996c5;
    border-width: 2px;
    border-style: solid;
}

/*----------------------*/
/*------ Pop-Up -------*/
/*--------------------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Keeps it on top of other elements */
    display: none;
}
.underlay{
    position: relative;
    background: #ffffff3b;
    border-radius: 10px 0 0 10px;
    text-align: center;
    max-width: 800px;
    max-height: 420px;
    width: 85%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Centered popup box */
.popup{
    position: relative;
    background: #271f44;
    border-radius: 10px 0 0 10px;
    text-align: center;
    max-width: 800px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    width: 96%;
    height: 94%;
}
@media screen and (max-width: 700px) {
    .popup{
        grid-template-columns: 1fr;
    }
}
#popup-content{
    text-align: left;
    padding: 20px 30px 20px 30px;
}
#popup-img{
    background-color:#a996c5;
    background-position: center;
    background-size: cover;
}
.popup-info{
    display: flex;
    align-items: flex-start;
    margin: 15px 0 15px 0;
}
.popup-info-icon{
    height: 25x;
    width: 25px;
}
.popup-audio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5vw 0 1.5vw 0;
}
.popup-audio-icon{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
@keyframes fillImage {
    from {
        background-size: 0% 100%;
    }
    to {
        background-size: 100% 100%;
    }
}
.playing {
    animation: fillImage var(--audio-duration) linear forwards;
}
.popup-info-text{
    margin-left: 10px;
    max-height: 40px;
    overflow: hidden;
}
.popup-info-text-full{
    margin-left: 10px;
    text-align: left;
}
.popup-title{
    max-height: 34px;
    overflow: hidden;
    margin: 30px 0 0 0;
    font-weight: lighter;
    font-size: 30px;
    text-align: right;
}
@media screen and (max-width: 360px) {
    .popup-title{
        font-size: 24px;
    }
}
.popup-data{
    text-align: justify;
    max-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popup-city{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}
.popup-button-container{
    text-align: center;
    margin-top: 0px;
}
.popup-button{
    width: 50%;
    cursor: pointer;
}
.popup-button:hover{
    width: 52%;
}
#popup-close-img{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#popup-close-img:hover{
    width: 31px;
    height: 30px;
}

/*----------------------*/
/*------ Casita -------*/
/*--------------------*/
#casita{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    height: calc(100vh - 70px);
    margin: 0;
    padding: 0;
    background-color: #f2e4e3;
    font-family: 'Quicksand', serif;
}

.casita-side{
    height: 100%;
    box-sizing: border-box;
}

.side-foto{
    background-image: url("./assets/Fotografía Portada - Silvia.jpeg");
    background-position: center;
    background-size: cover;
    filter: blur(1px);
    padding: 0;
}

.side-info{
    background-image: url("./assets/BANNER-CASITA-INFO.jpg"); 
    background-size: cover;
    display: grid;
    align-items: center; 
    overflow: hidden;
    color: #cdcdcd;
    padding: 0 10% 0 10%;
}

.side-data{
    color: #271f44;
    overflow-y: scroll;
}

.data-info{
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 9;
    top: 0px;
    background-color: #f2e4e3;
    padding-top: 8vh;
    padding: 8vh 10% 2vh 10%;
}
.data-info-container{
    text-align: justify;
    text-indent: 30px;
    padding: 0 10% 6vh 10%;
}
.data-info-galeria{
    padding: 6vh 10% 6vh 10%;
    background-color: #9f516f;
}
.data-info-obras{
    background-color: #cec4dd;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 6vh 10% 6vh 10%;
    align-items: center;
}
.obras-icon{
    width: 20vw;
    height: auto;
}
.obras-title{
    width: 20vw;
    height: auto;
    color: #773a54;
    text-indent: 15px;

}

.data-info-icon{
    height: 50x;
    width: 50px;
}
.data-info-name{
    margin-left: 10px;
    max-height: 40px;   
}
.data-info-text{
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 18px;
}

@media screen and (max-width: 620px) {
    .obras-icon{
        display: none;
    }
    .side-foto{
        display: none;
    }
    .data-info-obras{
        grid-template-columns: 0fr 1fr;
    }
    #casita{
        height: calc(100vh - 70px + 100vh);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .casita-side{
        grid-column: 1; /* Spans across both columns */
    }
}




/*----------------------*/
/*------ Footer -------*/
/*--------------------*/
footer{
    padding: 15px;
    background-color: #896ab0;
}


/*----------------------*/
/*------ Scroll -------*/
/*--------------------*/
/* width */
::-webkit-scrollbar {
    width: 14px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #d7c6d4; /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #a1536d; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
}

/*------------------------*/
/*------ CAROUSEL -------*/
/*----------------------*/

.carousel-item img {
    width: 100%; /* Make sure images fill the width */
    height: 400px; /* Set a fixed height for all images */
    object-fit: contain; /* Maintain aspect ratio while filling the container */
}